{% assign menus = site.data.[layout.menubar] %}
{% if menus == nil or menus == blank %}{% assign menus = site.data.[page.menubar] %}{% endif %}
{% if include.submenubar %}
    {% assign menus = site.data.[include.submenubar] %}
{% endif %}
{% assign highlight = page.permalink %}
{% if page.highlight_link %}
    {% assign highlight = page.highlight_link %}
{% endif %}
{% if layout.highlight_link %}
    {% assign highlight = layout.highlight_link %}
{% endif %}

<aside class="menu">
{% for menu in menus %}
    <h1 class="{%if include.margin %}pt-4{% endif %}">{{ menu.label[site.active_lang] }}</h1>
    <ul class="menu-list">
        {% for item in menu.items %}
        <li>
            <a href="{{ item.link | absolute_url }}" class="{% if item.link == highlight %}is-active{% endif %} {% if item.link %}{% else %}disabled{% endif %}">{{ item.name[site.active_lang] }}</a>
            {% if item.items %}
            <ul>
                {% for subitem in item.items %}
                    {% if subitem.anchor %}
                    <li><a href="{{ subitem.anchor }}">{{ subitem.name[site.active_lang] }}</a></li>
                    {% else %}
                    <li><a href="{{ subitem.link | absolute_url }}{{ subitem.anchor }}" class="{% if subitem.link == highlight %}is-active{% endif %}">{{ subitem.name[site.active_lang] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}    
    </ul>
{% endfor %}
</aside>