@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primary: #004f8f;
$link: #0570c9;
$family-primary: "Noto Sans", "Helvetica", "Arial", sans-serif;
$body-font-size: 15px;
$footer-padding: 1rem 1.5rem 1rem;

$content-heading-color: hsl(0, 0%, 40%);
$content-heading-weight: 500;

$rism-navbar-height: 52px;
$rism-small-hero-height: 170px;
$rism-large-hero-height: $rism-small-hero-height + $rism-navbar-height;
$rism-hero-header-height: 30px;
