$primary: #1b4e7d;
$link: #1b4e7d;
$family-primary: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$body-font-size: 15px;
$footer-padding: 1rem 1.5rem 1rem;

$content-heading-color: hsl(0, 0%, 40%);
$content-heading-weight: 500;